.App-container {
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
}

.App-container .Todo-container-parent {
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App-container .Todo-container-parent .Child-container-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.App-container .Todo-container-parent .Child-container-parent .Headline {
  background-image: -webkit-gradient(linear, left top, right top, from(#06f), to(#fbf472f7));
  background-image: linear-gradient(90deg, #06f, #fbf472f7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-container .Todo-container-parent .Child-container-parent .input-container-main {
  width: 100%;
}

.App-container .Todo-container-parent .Child-container-parent .input-container-main .add-todo-input {
  width: 90%;
  padding: 20px 20px 20px 70px;
  border: none;
  border-radius: 5px;
  height: 100%;
  outline: none;
  font-size: 22px;
  color: #808080;
  font-weight: 550;
  background: #fefefe;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.App-container .Todo-container-parent .Child-container-parent .input-container-main .add-todo-input::-webkit-input-placeholder {
  color: rgba(188, 184, 184, 0.5);
  font-family: inherit;
  font-style: italic;
  font-weight: 600;
}

.App-container .Todo-container-parent .Child-container-parent .input-container-main .add-todo-input:-ms-input-placeholder {
  color: rgba(188, 184, 184, 0.5);
  font-family: inherit;
  font-style: italic;
  font-weight: 600;
}

.App-container .Todo-container-parent .Child-container-parent .input-container-main .add-todo-input::-ms-input-placeholder {
  color: rgba(188, 184, 184, 0.5);
  font-family: inherit;
  font-style: italic;
  font-weight: 600;
}

.App-container .Todo-container-parent .Child-container-parent .input-container-main .add-todo-input::placeholder {
  color: rgba(188, 184, 184, 0.5);
  font-family: inherit;
  font-style: italic;
  font-weight: 600;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5em;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .list-options {
  display: none;
  margin-left: -1.5em;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  border-radius: 10px;
  font-size: 22px;
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #f6f68bf7;
  -webkit-box-shadow: 0 4px 15px 0 rgba(228, 220, 220, 0.75);
          box-shadow: 0 4px 15px 0 rgba(228, 220, 220, 0.75);
  border-radius: 10px;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items:hover .edit-todo-visible {
  background-color: inherit;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items .item-checked {
  color: grey;
  background-color: #F5F5F5;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  text-decoration: line-through;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items .item-unchecked {
  color: #464d54;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items .edit-todo-visible {
  position: absolute;
  z-index: 999;
  width: 88%;
  left: 10%;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: cursive;
  font-weight: 600;
  color: #464d54;
  caret-color: black;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items .edit-todo-visible + .item-unchecked {
  visibility: hidden;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items .edit-todo-visible + .item-checked {
  visibility: hidden;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items .edit-todo-notvisible {
  display: none;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items .more-options {
  visibility: hidden;
}

.App-container .Todo-container-parent .Child-container-parent .List-items-parent .List-items:hover .more-options {
  visibility: visible;
}

.App-container .Todo-container-parent .Child-container-parent .Bottom-nav {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.App-container .Todo-container-parent .Child-container-parent .Bottom-nav .show-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5em 0 0.5em;
  font-size: 15px;
  cursor: pointer;
}

.App-container .Todo-container-parent .Child-container-parent .Bottom-nav .padding {
  position: relative;
}
/*# sourceMappingURL=App.css.map */